{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% for error in errors %}
<script>
  var err = "{{error}}";
  alert(err)
</script>
{% endfor %}

<div class="container">

  <form action="" method="post" name="login">
    {{ form.csrf_token }}

    <div class="field">
      <div class="control">
        <label class="label">User Name:</label>
        {{ form.username(required=True, autofocus=True,
                         class='input is-info',
                         placeholder='your username') }}
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="label">Password:</label>
        {{ form.password(required=True, class='input is-info',
                         placeholder='your password') }}
      </div>
    </div>

    <button class="button is-block is-info is-fullwidth">
      Login
    </button>
  </form>
  <!-- Close our container div -->
</div>

<!-- Note: later you may wish to add an include pointer (include) to a common footer file here. -->
<!-- This is so that all pages share the same footer. Changing the one footer file will change -->
<!-- the footer of every page on your site. -->

<!-- Close the body of our HTML document -->
{% endblock %}